<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ user.apodo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <div>
    <div style="display: block;">
      <ion-item style="width:100%; margin:0 auto;" color="transparent" lines="none">
        <ion-avatar slot="start"
          style="width:100% !important; height : 100% !important; max-width: 100px !important; max-height: 100px !important;">
          <img src="{{user.fotoMin}}">
        </ion-avatar>
        <div style="display: block; width: 100%; text-align: center; margin-left: 8%;">
          <div style="display: flex; text-align: center;">
            <div style="display: block; width: 40%; margin: 0 auto;">
              <ion-label>
                <h1 style="opacity: 0.8;">10</h1>
                <p style="opacity: 0.8; font-size: 16px;">Me interesa</p>
              </ion-label>
            </div>
            <div style="display: block; width: 40%; margin: 0 auto;">
              <ion-label>
                <h1 style="opacity: 0.8;">150</h1>
                <p style="opacity: 0.8; font-size: 16px;">Seguidores</p>
              </ion-label>
            </div>
          </div>
          <div style="text-align: center; margin-top: 3.5%;">
            <ion-button color="primary">Me interesa</ion-button>
          </div>
        </div>
      </ion-item>
    </div>
    <div style="display: block;">
      <ion-item style="width:100%; margin:0 auto; " color="transparent" lines="none">
        <div style="display: block;">
          <p style="font-size: 17.5px;">{{ user.nombre }} {{ user.apellido }}, {{ user.municipio }}</p>
          <p style="font-size: 15.5px; margin-top: -2%; opacity: 0.6;">{{ user.descripcion }}</p>
        </div>
      </ion-item>
    </div>
    <div style="display: block;">
      <ion-segment value="1" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
        <ion-segment-button value="fot" checked layout="icon-start">
          <ion-label>Fotos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="inf" layout="icon-start">
          <ion-label>Información</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
</ion-header>

<ion-content>
  <div>
    <div [ngSwitch]="type">
      <ion-list *ngSwitchCase="'fot'" style="background: none;">
        <ion-grid>
          <ion-row>
            <ion-col size-xs="6" *ngFor="let item of user.fotos; let i = index" style="display: flex;">
              <img src='{{item.imagen}}' style="border-radius: 6px;" (click)="photoUser(item.imagen)" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <ion-list *ngSwitchCase="'inf'" style="background: none;">
        <fieldset style="margin: 4%; margin-top: 0; border-radius: 13px;" color="transparent">
          <legend style="margin-bottom: 2%;">Información Personal</legend>
          <div style="display: flex; margin:1.7%">
            <ion-label style="opacity: 0.7; width: 33%;">Nombre: </ion-label>
            <ion-label style="width: 65%; margin-left: 3%; opacity: 0.7;" disabled>{{ user.nombre }} {{ user.apellido }}
            </ion-label>
          </div>
          <div style="display: flex; margin: 1.7%;">
            <ion-label style="opacity: 0.7; width: 33%;">Correo: </ion-label>
            <ion-label style="width: 65%; margin-left: 3%; opacity: 0.7;" disabled>{{ user.correo }}</ion-label>
          </div>
          <div style="display: flex; margin: 1.3%;">
            <ion-label style="opacity: 0.7; width: 33%;">Edad: </ion-label>
            <ion-label style="width: 65%; margin-left: 3%; opacity: 0.7;" disabled>{{ user.edad }}</ion-label>
          </div>
          <div style="display: flex; margin: 1.7%;">
            <ion-label style="opacity: 0.7; width: 33%;">Ubicación: </ion-label>
            <ion-label style="width: 65%; margin-left: 3%; opacity: 0.7;" disabled>{{ user.municipio }}</ion-label>
          </div>
          <div style="display: flex; margin: 1.7%;">
            <ion-label style="opacity: 0.7; width: 33%;">Cumpleaños: </ion-label>
            <ion-label style="width: 65%; margin-left: 3%; opacity: 0.7;" disabled>{{ user.cumpleanios }}</ion-label>
          </div>
        </fieldset>

        <fieldset style="margin: 4%; margin-top: 0; border-radius: 13px;" *ngIf="user.redes.length > 0">
          <legend style="margin-bottom: 2%;">Redes Sociales</legend>
          <div style="display: flex; margin: 1.7%;" *ngIf="user.redes[0].facebook == true">
              <ion-icon name="logo-facebook" slot="start"></ion-icon>
              <ion-label style="width: 65%; margin-left: 4%; opacity: 0.7;" disabled *ngIf="user.redes[0].facebook == true">{{ user.redes[0].user }}
              </ion-label>
          </div>
          <div style="display: flex; margin: 1.7%;" *ngIf="user.redes[4].instagram == true">
              <ion-icon name="logo-instagram" slot="start"></ion-icon>
              <ion-label style="width: 65%; margin-left: 4%; opacity: 0.7;" disabled *ngIf="user.redes[4].instagram == true">{{ user.redes[4].user }}
              </ion-label>
          </div>
          <div style="display: flex; margin: 1.7%;" *ngIf="user.redes[1].tumblr == true">
              <ion-icon name="logo-tumblr" slot="start"></ion-icon>
              <ion-label style="width: 65%; margin-left: 4%; opacity: 0.7;" disabled *ngIf="user.redes[1].tumblr == true">{{ user.redes[1].user }}
              </ion-label>
          </div>
          <div style="display: flex; margin: 1.7%;" *ngIf="user.redes[3].twitter == true">
              <ion-icon name="logo-twitter" slot="start"></ion-icon>
              <ion-label style="width: 65%; margin-left: 4%; opacity: 0.7;" disabled *ngIf="user.redes[3].twitter == true">{{ user.redes[3].user }}
              </ion-label>
          </div>
          <div style="display: flex; margin: 1.7%;" *ngIf="user.redes[2].whatsapp == true">
              <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
              <ion-label style="width: 65%; margin-left: 4%; opacity: 0.7;" disabled *ngIf="user.redes[2].whatsapp == true">{{ user.redes[2].number }}
              </ion-label>
          </div>
        </fieldset>

        <fieldset style="margin: 4%; margin-top: 0; border-radius: 13px;" *ngIf="user.acercaDeMi.length > 0">
          <legend style="margin-bottom: 2%;">Más acerca de mí</legend>
          <div *ngIf="user.acercaDeMi[0].aptitudes.length > 0">
          <ion-item-divider style="margin: 0;">
            <ion-label style="margin: 0;">
              Aptitudes
            </ion-label>
          </ion-item-divider>
          <ion-chip *ngIf="user.acercaDeMi[0].aptitudes[0].creatividad == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Creatividad</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[0].aptitudes[1].liderazgo == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Liderazgo</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[0].aptitudes[2].seriedad == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Seriedad</ion-label>
          </ion-chip>
          </div>

          <div *ngIf="user.acercaDeMi[1].habilidades.length > 0">
          <ion-item-divider style="margin: 0;">
            <ion-label style="margin: 0;">
              Habilidades
            </ion-label>
          </ion-item-divider>
          <ion-chip *ngIf="user.acercaDeMi[1].habilidades[0].trabajoEquipo == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Trabajo en equipo</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[1].habilidades[1].comunicacion == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Comunicación</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[1].habilidades[2].organizacion == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Organización</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[1].habilidades[3].inovarCrear == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Innovar y crear</ion-label>
          </ion-chip>
        </div>
        <div *ngIf="user.acercaDeMi[2].pasatiempos.length > 0">
          <ion-item-divider style="margin: 0;">
            <ion-label style="margin: 0;">
              Pasatiempos
            </ion-label>
          </ion-item-divider>
          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[0].futbol == true">
            <ion-icon src="/assets/icon/balon.svg"></ion-icon>
            <ion-label>Fútbol</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[1].ejercicio == true">
            <ion-icon src="/assets/icon/ejercicio.svg"></ion-icon>
            <ion-label>Ejercicio</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[2].natacion == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Natación</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[3].ciclismo == true">
            <ion-icon src="/assets/icon/ciclism.svg"></ion-icon>
            <ion-label>Ciclismo</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[4].atletismo == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Atletismo</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[5].musica == true">
            <ion-icon src="/assets/icon/music.svg"></ion-icon>
            <ion-label>Escuchar Música</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[6].leer == true">
            <ion-icon src="/assets/icon/check.svg"></ion-icon>
            <ion-label>Leer</ion-label>
          </ion-chip>

          <ion-chip *ngIf="user.acercaDeMi[2].pasatiempos[7].comer == true">
            <ion-icon src="/assets/icon/eat.svg"></ion-icon>
            <ion-label>Comer</ion-label>
          </ion-chip>
        </div>
        </fieldset>
      </ion-list>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon src="/assets/icon/opciones.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark">
        <ion-icon src="/assets/icon/sms.svg" (click)="chats( user.apodo, user.fotoMin )"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="dark">
        <ion-icon src="/assets/icon/google_m.svg"
          (click)="ubicacion( user.lat, user.long, user.apodo, user.fotoMin, user.municipio )"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>