<ion-content>
    <!--<ion-list *ngFor="let opc of opcion; let i = index" style="margin: 0; padding: 0;">
  <ion-item nav-clear menu-close>{{ opc.opcion_ }}</ion-item>
      <ion-list  *ngFor="let subitem of opc.grupo; let s = index" id="sub{{s}}" (click)="onClick( opc , subitem, s )"  style="display: block; margin: 0; padding: 0;">
          <ion-item nav-clear menu-close lines="none" style="margin-left: 5%;">{{ subitem.edadUs }}</ion-item>
      </ion-list>
</ion-list>-->
    <ul id="menu">
        <li (click)="obtener( $event )"><input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1">Hombres</label>
            <ul class="interior">
                <ion-item *ngFor="let h of hombres" color="transparent" lines="none">
                    <ion-checkbox color="light" id="one"></ion-checkbox>
                    <ion-label style="margin-left: 3.7%;">{{ h.edadUs }}</ion-label>
                  </ion-item>
            </ul>
        </li>
        <li (click)="obtener( $event )"><input type="checkbox" name="list" id="nivel1-2"><label for="nivel1-2">Mujeres</label>
            <ul class="interior">
                <ion-item *ngFor="let m of mujeres" color="transparent" lines="none">
                    <ion-checkbox color="light"></ion-checkbox>
                    <ion-label style="margin-left: 3.7%;">{{ m.edadUs }}</ion-label>
                  </ion-item>
            </ul>
        </li>
    </ul>
</ion-content>