#sidenav {
    ion-item-group[submenu] {
      overflow: hidden;
      display: block;
      height: 0;
      transition: height .3s linear;
      padding-left: 20%;
      &.visible {
          height: inherit;
          // this is just sample value, calculate how much space you need for your menu items
      }
    }
  }

  #menu * { list-style:none;}
#menu li{ line-height:180%; font-size: 20px;}
#menu li a{color:#222; text-decoration:none;}
#menu li a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}
#menu input[name="list"] {
	position: absolute;
	left: -1000em;
	}
#menu label:before{ content:"\025b8"; margin-right:4px;}
#menu input:checked ~ label:before{ content:"\025be";}
#menu .interior{display: none; margin: 0; padding: 0; color: #6e6868;}
#menu input:checked ~ ul{display:block;}