<ion-header [translucent]="true" color="transparent">
  <ion-toolbar color="tertiary">
    <ion-title>Actualizar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="nombre_modal">
  <form #formnom="ngForm" (ngSubmit)="updateNombre()">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <div style="display: flex;">
          <div style="width: 100%; margin-top: 12%;">
            <ion-item style="width:100%; margin:0 auto; text-align: center;">
              <ion-input placeholder="Nombre"  name="nom" #nom="ngModel" [(ngModel)]="upd_nombre" required></ion-input>
            </ion-item>
            <div style="margin-top: 14%; text-align: center;">
              <ion-button type="submit" [disabled]="formnom.invalid">Guardar</ion-button>    <!--[disabled]="formss.invalid"-->     
            </div>
          </div>
          </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>


<ion-content *ngIf="correo_modal">
  <form #formco="ngForm" (ngSubmit)="updateCorreo()">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <div style="display: flex;">
          <div style="width: 100%; margin-top: 6%;">
            <ion-item style="width:100%; margin:0 auto; text-align: center;">
              <ion-input placeholder="Correo electrónico" name="cor" #cor="ngModel" [(ngModel)]="upd_correo" required></ion-input>
            </ion-item>
            <div style="margin-top: 14%; text-align: center; display: block;">
              <div style="height: 22px; margin-top: -7%;">
                <ion-label style="height: 19px;">
                  <span *ngIf="correoinvalido" style="color: red; margin-left: -60%; font-size: 14px;"> *Correo invalido</span>   <!--margin-top: -7%;-->
                </ion-label>
              </div>
              <div>
              <ion-button type="submit" [disabled]="formco.invalid">Guardar</ion-button>
            </div>           
            </div>
          </div>
          </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>


<ion-content *ngIf="password_modal !=i">
  <form #formps="ngForm" (ngSubmit)="updatePassword()">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <div style="display: flex;">
          <div style="width: 100%; margin-top: 6%;">
            <ion-item style="width:100%; margin:0 auto; text-align: center;">
              <ion-input placeholder="Contraseña" name="ps" #ps="ngModel" [(ngModel)]="upd_password" required></ion-input>
            </ion-item>
            <ion-item style="width:100%; margin:0 auto; text-align: center;">
              <ion-input placeholder="Confirmar contraseña" name="cps" #cps="ngModel" [(ngModel)]="conf_password" required></ion-input>
            </ion-item>
            <div style="margin-top: 14%; text-align: center; display: block;">
              <div style="height: 22px; margin-top: -7%;">
                <ion-label style="height: 19px;">
                  <span *ngIf="passwordinvalido" style="color: red; margin-left: -25%; font-size: 14px;"> *Las contraseñas no coinciden</span>   <!--margin-top: -7%;-->
                </ion-label>
              </div>
              <div>
              <ion-button type="submit" [disabled]="formps.invalid">Guardar</ion-button>
            </div>           
            </div>
          </div>
          </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>