<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuestra distancia</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>-->

  <div id="mapId" style="width: 100%; height: 75%;">
  </div>
  <div *ngIf="info">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size-xs="12" style="display: flex;">
          <ion-card style="width: 100%; margin:0; padding:0;">
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{ foto }}" (click)="fotoModal(foto, apodo)">
              </ion-avatar>
              <ion-label>
                <h2>{{ apodo }}</h2>
                <p>{{ municipio }}</p>
              </ion-label>
              <ion-icon name="heart" slot="end" (click)="addFavorit()"></ion-icon>
              <ion-icon src="/assets/icon/share.svg" slot="end" (click)="share()"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>