<ion-header [translucent]="true" color="transparent">
  <ion-toolbar color="primary">
    <ion-title>{{ apodo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="savePhoto(foto)">
      <ion-icon slot="start" name="download" id="icon_download"></ion-icon>
    </ion-button>
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{foto}}">
</ion-content>