<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="container" *ngIf="sin_favoritos" style="font-size: 18px; font-weight: bold;">¡Sin favoritos por el momento!</p>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-xs="12" *ngFor="let p of favorito" style="display: flex;">
        <ion-card style="width: 100%; margin:0; padding:0;">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{p.fotoMin}}">
            </ion-avatar>
            <ion-label>
              <h2>{{p.apodo}}, {{p.edad}}</h2>
              <p>{{p.municipio}}</p>
            </ion-label>
            <ion-icon name="person" slot="end" (click)="visitar_perfil(p)"></ion-icon>
            <ion-icon name="trash" slot="end" (click)="elemento(p)"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>