#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.all{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    background:transparent;
    position: fixed;
    z-index: 1;
  }
  @media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 800px ) and (max-width: 1280px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 768px ) and (max-width: 1024px ) {
    .all{
      padding-top: 29%;     
    }
  } 
  
  @media only screen and (min-width: 767px) and (max-width: 940px) {
    .all{
      padding-top: 40%;     
    }
  } 
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .all{
      padding-top: 78%;     
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 259px) {
    .all{
      padding-top: 98%;     
    }
    .carg{
        width: 25%;
        margin: auto;
        text-align: center;
        font-size: 5px;
    }
  }
  .carg{
    width: 35%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
  .cargando{
    border: 1.5px solid rgb(0, 0, 0);     //CCC
    border-top: 2px;
    border-top-color: transparent;
    border-top-style: solid;
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 278px;
    animation:girar 1.0s linear infinite;
    -o-animation:girar 1.0s linear infinite;
    -webkit-animation:girar 1.0s linear infinite;
   // z-index: 1; ///Sin z-index
  }
  @keyframes girar{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
    }



    .container {
      background: white;
      border: 1px solid #e5e6e9;
      border-radius: 5px;
      max-width: 769px;
      padding: 1rem;
      margin: 0 auto;
    }


    .background {
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: preloadAnimation;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      display: flex;
      min-height: 100px;
  }

  @keyframes preloadAnimation{
    0%{
        background-position: -769px 0
    }
    100%{
        background-position: 769px 0
    }
}


.right {
  flex: 1;
}

.image {
  width: 120px;
  height: 120px;
  background: transparent;
}

.bar {
  height: 22px;
  background: transparent;
  position: relative;
  width: 100%;
}

.bar::before {
  position: absolute;
  content: "";
  left: 0;
  width: 2rem;
  height: 22px;
  background: white;
}

.bar::after {
  position:absolute;
  right: 0;
  height: 22px;
  content: "";
  background: white
}


.bar.medium::after {
  width: 50%;
}

.bar.small::after {
  width: 75%;
}

.mask {
  background: white;
  width: 100%;
}

.thick {
  height: 1.5rem;
}
.thin {
  height: 0.5rem;
}