ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.cards_{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 1; float: left;
  margin-bottom: 0;
  padding: 0 5px;
  //background: transparent;
}