<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Miembros</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-toggle color="dark" (click)="cambio()"></ion-toggle>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div style="width: 100%; display: flex;">
    <div style="width: 80%;">
    <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="dato" placeholder="Buscar" autocorrect="off" style="position:relative;"></ion-searchbar>
    <p *ngIf="showList" style="position: absolute; width: 95%; margin:0; padding:0;">
      <ion-item *ngFor="let item of items" (click)="seleccion(item)">
        {{ item.nombre }}
      </ion-item>
    </p> 
    </div>
    <div style="width: 20%; text-align: center; padding-top: 15.5px;">
      <ion-icon name="options" (click)="opciones( $event )" class="text-center" style="font-size: 31px; cursor: pointer; color: #666666;"></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-xs="6" *ngFor="let p of perfiles" style="display: flex;">
        <ion-card class="cards_">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{p.fotoMin}}" id="im_usrs" (click)="fotoModal(p.fotoMin, p.apodo)">
            </ion-avatar>
            <ion-label>
              <h2>{{p.apodo}}</h2>
              <p>{{p.municipio}}</p>
            </ion-label>
          </ion-item>
          <ion-card-content style="font-size: 11px; margin-top: -4%;">
            <p (click)="opc_Perfil(p)" style="cursor: pointer;">{{ p.descripcion | slice:0:50}}...  Ver mas!</p>
            <div style="display: flex; width: 100%;">
              <div style="width: 95%;">
                <div style="display: flex; margin-top: 5.5%;">
                  <img src="/assets/icon/activo.png" style="width: 16px; height: 16px;" *ngIf="p.activo == true">
                  <p style="font-size: 12px; margin-left: 4%;" *ngIf="p.activo == true">{{p.status}}</p>
                  <img src="/assets/icon/inactivo.png" style="width: 16px; height: 16px;" *ngIf="p.activo == false">
                  <p style="font-size: 12px; margin-left: 4%;" *ngIf="p.activo == false">{{p.status}}</p>
                </div>
              </div>
              <div (click)="opc_Perfil(p)" style="width: 5%; margin-top: 5.5%;">
                <ion-icon name="information-circle" style="font-size: 20px; cursor: pointer;"></ion-icon>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>