<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list" style="position:relative;">
        <div style="display: block; margin-bottom: 15px;">
          <div style="display: flex;">
            <ion-item lines="none" color="transparent">
              <div>
                <ion-icon slot="start" name="person" style="width: 50px; height: 50px; position: relative;"></ion-icon>
                <ion-icon slot="start" src="/assets/icon/add.svg" (click)="opciones( $event )" style="width: 20px; height: 20px; position: absolute; margin-top: 32px; margin-left: -15px; cursor: pointer;"></ion-icon>
              </div>
              <ion-label style="margin-left: 15px;">
                <h2>Usuario Uno</h2>
                <p>usuario1@gmail.com</p>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of Icns">
          <ion-item (click)="inicio()" style="cursor: pointer;" lines="none">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label style="font-size: 18px;">Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="favoritos()" style="cursor: pointer;" lines="none">
            <ion-icon slot="start" name="heart"></ion-icon>
            <ion-label style="font-size: 18px;">Favoritos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="configuracion()" style="cursor: pointer;" lines="none">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label style="font-size: 18px;">Configuración</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="chats()" style="cursor: pointer;" lines="none">
            <ion-icon slot="start" name="chatbubbles"></ion-icon>
            <ion-label style="font-size: 18px;">Chats</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <div style="outline:none; transform: rotate(180deg); bottom: 0px; position: absolute; margin-left: 78px;">
        <ion-button type="button" color="primary" (click)="salir()" style="width: 130px; height: 40px !important; font-size: 19.5px;">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p>{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>