ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  //border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}


.all{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  background:transparent;
  position: fixed;
  z-index: 1;
}
@media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 800px ) and (max-width: 1280px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 768px ) and (max-width: 1024px ) {
  .all{
    padding-top: 29%;     
  }
} 

@media only screen and (min-width: 767px) and (max-width: 940px) {
  .all{
    padding-top: 40%;     
  }
} 
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .all{
    padding-top: 78%;     
  }
}
@media only screen and (min-width: 200px) and (max-width: 259px) {
  .all{
    padding-top: 98%;     
  }
  .carg{
      width: 25%;
      margin: auto;
      text-align: center;
      font-size: 5px;
  }
}
.carg{
  width: 35%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.cargando{
  border: 1.5px solid rgb(0, 0, 0);
  border-top: 2px;
  border-top-color: transparent;
  border-top-style: solid;
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 278px;
  animation:girar 1.0s linear infinite;
  -o-animation:girar 1.0s linear infinite;
  -webkit-animation:girar 1.0s linear infinite;
}
@keyframes girar{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
  }