<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ usuario_chat }}</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="{{foto}}" style="width:80% !important; height : 80% !important; max-width: 80px !important; max-height: 80px !important; margin-top: 6.5px; position: relative;">
        <img src="/assets/icon/activo.png" style="width: 16px; height: 16px; position: absolute; margin-left: -19px; margin-top: 44px;">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>


<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>