<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis conversaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-xs="12" *ngFor="let c of conversation" style="display: flex;">
        <ion-item style="width: 100%; margin:0; padding:0; border-radius: 12px;">
            <ion-avatar slot="start">
              <img src="{{c.fotoMin}}" style="position: relative;">
              <img src="/assets/icon/activo.png" style="width: 16px; height: 16px; position: absolute; margin-left: -11.5px; margin-top: 23.5px;" *ngIf="c.activo == true">
              <img src="/assets/icon/inactivo.png" style="width: 16px; height: 16px; position: absolute; margin-left: -11.5px; margin-top: 23.5px;" *ngIf="c.activo == false">
            </ion-avatar>
            <ion-label>
              <h2>{{c.apodo}}</h2>
            </ion-label>
            <ion-icon name="send" slot="end" style="transform: rotate(337deg); width: 18px; height: 18px;"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
