<ion-header>
  <ion-toolbar id="hd">
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-avatar slot="start"
            style="margin: 0 auto; display: block; width:100% !important; height : 100% !important; max-width: 100px !important; max-height: 100px !important">
            <img src="{{config_foto}}">
          </ion-avatar>
          <ion-item style="width: 48%; margin:0 auto; display: block; text-align: center; border-bottom: 1.2px solid #ccc; margin-top: 10px;" color="transparent" lines="none">
            <ion-label>Carinioso LM</ion-label>
            <ion-icon slot="end" (click)="updateNickname()" src="/assets/icon/edit.svg" style="width: 17px; height: 17px;"></ion-icon>
          </ion-item>
          <div style="display: flex;">
            <ion-item style="width: 48%; margin:0 auto; display: block; border-bottom: 1.2px solid #ccc;" color="transparent" lines="none">
              <ion-label style="opacity: 0.6;">Luis Enrique</ion-label>
              <ion-icon slot="end" (click)="presentAlertCheckbox()" src="/assets/icon/edit.svg" style="width: 17px; height: 17px; opacity: 0.6;"></ion-icon>
            </ion-item>
            <ion-item style="width: 48%; margin:0 auto; display: block; border-bottom: 1.2px solid #ccc;" color="transparent" lines="none">
              <ion-label style="opacity: 0.6;">Medina</ion-label>
              <ion-icon slot="end" (click)="presentAlertRadio()" src="/assets/icon/edit.svg" style="width: 17px; height: 17px; opacity: 0.6;"></ion-icon>
            </ion-item>
          </div>
          <div style="display: flex;">
            <ion-item style="width: 48%; margin:0 auto; display: block; border-bottom: 1.2px solid #ccc;" color="transparent" lines="none">
              <ion-label>luism3039@gmail.com</ion-label>
              <ion-icon slot="end" (click)="updateEmail()" src="/assets/icon/edit.svg" style="width: 17px; height: 17px;"></ion-icon>
            </ion-item>
            <ion-item style="width: 48%; margin:0 auto; display: block; border-bottom: 1.2px solid #ccc;" color="transparent" lines="none">
              <ion-label>lem95Medina.</ion-label>
              <ion-icon slot="end" (click)="updatePassword()" src="/assets/icon/edit.svg" style="width: 17px; height: 17px;"></ion-icon>
            </ion-item>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p>{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>