<ion-content class="home_application" *ngIf="inicio" (click)="inicio_()">
  <p id="container" style="font-weight: bold; font-size: 25px;">¡Bienvenido!</p>
</ion-content>

<ion-content *ngIf="login_registro" style="background-color: transparent;">
  <!--<div style="display: block; text-align: center; margin-top: 24%; margin-bottom: 2%;">
    <section>
      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
    </section>-->
    <section style="text-align: center;">
      <h1 style="font-size: 41px; opacity: 0.5;">CITAMED</h1>
    </section>
  <!--</div>-->

  <!---(ionChange)="segmentChanged($event)"--->
  <ion-segment scrollable="true" value="1" [(ngModel)]="type" color="primary">
    <ion-segment-button (click)="reg()" value="reg" checked layout="icon-start"
      style="margin: 15px; margin-bottom: 0;">
      <ion-label>Registro</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="log()" value="log" layout="icon-start" style="margin: 15px; margin-bottom: 0;">
      <ion-label>Login</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'reg'" style="background: none;">
      <form #formreg="ngForm" (ngSubmit)="inicio_registro()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <div style="display: flex;">
                  <ion-item style="width:50%; margin:0 auto;" color="transparent" lines="none">
                    <ion-input type="text" placeholder="Nombre" name="nm" #anm="ngModel"
                      [(ngModel)]="registro_user.nombre" style="border-bottom: 1.5px solid #ccc;" required></ion-input>
                  </ion-item>
                  <ion-item style="width:50%;  margin:0 auto;" color="transparent" lines="none">
                    <ion-input type="text" placeholder="Apellido" name="ap" #ap="ngModel"
                      [(ngModel)]="registro_user.apellido" style="border-bottom: 1.5px solid #ccc;" required></ion-input>
                  </ion-item>
                </div>
                <ion-item style="width:100%;  margin:0 auto;" color="transparent" lines="none">
                  <ion-input type="email" placeholder="Correo electrónico" name="ce" #ce="ngModel"
                    [(ngModel)]="registro_user.correo" style="border-bottom: 1.5px solid #ccc;" required></ion-input>
                </ion-item>

                <ion-item style="width:100%;  margin:0 auto;" color="transparent" lines="none">
                  <ion-input type="password" placeholder="Contraseña" name="ct" #cn="ngModel"
                    [(ngModel)]="registro_user.password" style="border-bottom: 1.5px solid #ccc;" required></ion-input>
                </ion-item>

                <ion-item style="width:100%;  margin:0 auto;" color="transparent" lines="none">
                  <ion-input type="password" placeholder="Confirmar contraseña" name="cc" #cc="ngModel"
                    [(ngModel)]="confirmar" style="border-bottom: 1.5px solid #ccc;" required></ion-input>
                </ion-item>
                <div style="height: 15px; width: 270px; position: relative; display: block; margin-left: 3%;">
                  <p *ngIf="em_error" style="color: red; position: absolute; font-size: 15px;">*Correo electrónico
                    incorrecto</p>
                  <p *ngIf="pass_error" style="color: red; position: absolute; font-size: 15px;">*Las contraseñas no
                    coinciden</p>

                  <p *ngIf="user_exist" style="color: red; position: absolute; font-size: 15px;">*El usuario ya existe
                  </p>
                  <p *ngIf="r_error" style="color: red; position: absolute; font-size: 15px;">*No es posible crear otro
                    registro</p>
                </div>
              </div>
              <div style="display: flex; text-align: center; margin-top: 7%; margin-bottom: 10%;">
                <div style="margin: 0 auto;">
                  <ion-button type="submit" [disabled]="formreg.invalid" color="primary"
                    style="width: 170px; height: 40px !important; --border-radius: 30px !important; font-size: 14px; outline:none;">
                    Registrar</ion-button>
                </div>
              </div>
              <div *ngIf="redes">
                <ion-item-divider style="margin: 0;">
                  <ion-label style="margin: 0;">
                    Entrar con
                  </ion-label>
                </ion-item-divider>
                <div style="text-align: center;">
                  <ion-icon src="/assets/icon/facebook.svg"
                    style="font-size: 28px; margin: 14px; margin-top: 9px; margin-bottom: 0; padding: 10px; background-color: #4e71ba; border-radius: 36px">
                  </ion-icon>
                  <ion-icon src="/assets/icon/googleplus.svg"
                    style="font-size: 30px; margin: 14px; margin-top: 9px; margin-bottom: 0; padding: 10px; background-color:#db4a39; border-radius: 36px">
                  </ion-icon>
                </div>
                <div style="text-align: center; height: 16px; margin-top: 10px;"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-list>

    <ion-list *ngSwitchCase="'log'" style="background: none;">
      <form #formlo="ngForm" (ngSubmit)="inicio_login()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item style="width:100%; margin:0 auto;" color="transparent" lines="none">
                  <ion-input type="email" placeholder="Correo electrónico" name="ed" #ed="ngModel"
                    [(ngModel)]="login_user.correo" style="border-bottom: 1.5px solid #ccc;" required></ion-input>
                </ion-item>
                <ion-item style="width:100%; margin:0 auto;" color="transparent" lines="none">
                  <ion-input type="password" placeholder="Contraseña" name="cs" #cs="ngModel"
                    [(ngModel)]="login_user.password" style="border-bottom: 1.5px solid #ccc;" required></ion-input>
                </ion-item>
                <ion-item style="width:100%;  margin:0 auto;" color="transparent" lines="none">
                  <div style="height: 15px; width: 260px; position: relative; display: block;">
                    <p *ngIf="em_err" style="color: red; position: absolute; font-size: 15px;">*Correo electrónico
                      incorrecto</p>
                    <p *ngIf="usr_err" style="color: red; position: absolute; font-size: 15px;">*Usuario inexistente</p>
                    <p *ngIf="cred_err" style="color: red; position: absolute; font-size: 15px;">*Credenciales
                      incorrectas</p>
                  </div>
                </ion-item>
                <ion-item style="width:100%;  margin:0 auto;" color="transparent" lines="none"></ion-item>
                <div style="height: 15px; width: 260px; position: relative; display: block;"></div>
              </div>

              <div style="display: flex; text-align: center; margin-top: 7%; margin-bottom: 10%;">
                <div style="margin: 0 auto;">
                  <ion-button type="submit" [disabled]="formlo.invalid" color="primary"
                    style="width: 140px; height: 40px !important; --border-radius: 30px !important; font-size: 14px; outline:none;">
                    Entrar</ion-button>
                </div>
              </div>
              <div *ngIf="redes">
                <ion-item-divider style="margin: 0;">
                  <ion-label style="margin: 0;">
                    Entrar con
                  </ion-label>
                </ion-item-divider>
                <div style="text-align: center;">
                  <ion-icon src="/assets/icon/facebook.svg"
                    style="font-size: 28px; margin: 14px; margin-top: 9px; margin-bottom: 0; padding: 10px; background-color: #4e71ba; border-radius: 36px">
                  </ion-icon>
                  <ion-icon src="/assets/icon/googleplus.svg"
                    style="font-size: 30px; margin: 14px; margin-top: 9px; margin-bottom: 0; padding: 10px; background-color:#db4a39; border-radius: 36px">
                  </ion-icon>
                </div>
                <div style="text-align: center; height: 16px; margin-top: 15px;">
                  <ion-label *ngIf="lost" (click)="windowPassword()" style="opacity: 0.6;">¿Olvidaste tu contraseña?
                  </ion-label>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-list>
  </div>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: black;">{{texto}}</p>
    <div class="cargando">
    </div>
  </div>
</div>