.home_application{
    --background: url('/assets/icon/inicio.png') no-repeat 100% 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btn_eye_icon:focus{
    outline: none  !important;
}

  .all{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    background:transparent;
    position: fixed;
    z-index: 1;
  }
  @media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 800px ) and (max-width: 1280px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 768px ) and (max-width: 1024px ) {
    .all{
      padding-top: 29%;     
    }
  } 
  
  @media only screen and (min-width: 767px) and (max-width: 940px) {
    .all{
      padding-top: 40%;     
    }
  } 
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .all{
      padding-top: 78%;     
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 259px) {
    .all{
      padding-top: 98%;     
    }
    .carg{
        width: 25%;
        margin: auto;
        text-align: center;
        font-size: 5px;
    }
  }
  .carg{
    width: 35%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
  .cargando{
    border: 1.5px solid rgb(0, 0, 0);
    border-top: 2px;
    border-top-color: transparent;
    border-top-style: solid;
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 278px;
    animation:girar 1.0s linear infinite;
    -o-animation:girar 1.0s linear infinite;
    -webkit-animation:girar 1.0s linear infinite;
  }
  @keyframes girar{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
    }

    #text_name{
      font-size: 61px; 
      font-weight: bold; 
      margin-top: -1%;
      opacity: 0.4;
    }

@import url(https://fonts.googleapis.com/css?family=Rammetto+One);

*{
  box-sizing:border-box;
}

html,body{
  width:100%; 
  height:100%; 
  display:flex;
  flex-direction:column;
  justify-content:center;
  background:#6B566B;
}

section {
  align-self:center;
  direction: rtl;
}

.c1 {
  display: inline-block;
  position: relative;
  height: 3.125em;
  &:before {
    content: "";
    display: block;
    width: 100%;
    border-radius: 50%;
    height: 1.563em;
    background: hsla(0, 0%, 0%, 0.1);
    display: block;
    position: absolute;
    bottom: -.10em;
    transform: scale(0.5);
    animation: shadow 1s linear infinite 0s;
  }
  &:after {
    content: "";
    display: block;
    width: 3.125em;
    height: 3.125em;
    background: #AFC7B9;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    top: -2.500em;
    margin: 0 0.446em;
    animation: jellijump 1s linear infinite 0s;
  }
}

.c2 {
  display: inline-block;
  position: relative;
  height: 2.500em;
  &:before {
    content: "";
    display: block;
    width: 100%;
    border-radius: 50%;
    height: 1.250em;
    background: rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    bottom: -.1em;
    transform: scale(0.5);
    animation: shadow 1s linear infinite 0.2s;
  }
  &:after {
    content: "";
    display: block;
    width: 2.500em;
    height: 2.500em;
    background: #FCA89D;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    top: -2.500em;
    margin: 0 0.357em;
    animation: jellijump 1s linear infinite 0.2s;
  }
}

.c3 {
  display: inline-block;
  position: relative;
  height: 1.875em;
  &:before {
    content: "";
    display: block;
    width: 100%;
    border-radius: 50%;
    height: 0.938em;
    background: hsla(0, 0%, 0%, 0.1);
    display: block;
    position: absolute;
    bottom: -.10em;
    transform: scale(0.5);
    animation: shadow 1s linear infinite 0.4s;
  }
  &:after {
    content: "";
    display: block;
    width: 1.875em;
    height: 1.875em;
    background: #FAC7B4;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    top: -2.500em;
    margin: 0 0.268em;
    animation: jellijump 1s linear infinite 0.4s;
  }
}

.c4 {
  display: inline-block;
  position: relative;
  height: 1.250em;
  &:before {
    content: "";
    display: block;
    width: 100%;
    border-radius: 50%;
    height: 0.625em;
    background: hsla(0, 0%, 0%, 0.1);
    display: block;
    position: absolute;
    bottom: -.10em;
    transform: scale(0.5);
    animation: shadow 1s linear infinite 0.6s;
  }
  &:after {
    content: "";
    display: block;
    width: 1.250em;
    height: 1.250em;
    background: #FFE1C9;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    top: -2.500em;
    margin: 0 0.179em;
    animation: jellijump 1s linear infinite 0.6s;
  }
}

@keyframes jellijump {
  5% {
    top: -2.500em;
  }
  20% {
    top: -1.875em;
  }
  40% {
    top: -0.625em;
    border-radius: 50%;
  }
  45% {
    border-radius: 60% 40% 60% 40%;
  }
  50% {
    top: 0em;
    border-radius: 70% 40% 80% 40%;
  }
  60% {
    top: -0.625em;
    border-radius: 90% 40% 90% 40%;
  }
  80% {
    top: -1.875em;
    border-radius: 40% 80% 40% 70%;
  }
  90% {
    border-radius: 60% 40% 60% 40%;
  }
  95% {
    top: -2.500em;
    border-radius: 50%;
  }
}

@keyframes shadow {
  0% {transform: scale(0.5);}
  50% {transform: scale(1);}
  100% {transform: scale(0.5);}
}